# This is a basic workflow to help you get started with Actions

name: Linter

on: [pull_request]

jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run check style
      uses: nikitasavinov/checkstyle-action@0.4.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: 'github-pr-check'
        level: 'error'
        tool_name: 'testtool'
        fail_on_error: true
